$style: 'first';
$bodyBgcolor: #dcbb9a;
$backgroundColor: #ffffff;
$headingColor: #893c00;
$textColor: #000000;
$thBgColor: #e0e0e0;
$briefBgColor: #fadcba;
$aColor: #3d70a1;
$spanColor: #808080;