$style: 'second';
$bodyBgcolor: rgba(198, 238, 252, 0.53);
$backgroundColor: #3b3b3b;
$headingColor: #fccd10; 
$textColor: #ffffff;
$thBgColor: #94a34e;
$briefBgColor: #fff178;
$aColor: $headingColor; 
$spanColor: $headingColor; 